USE [master]
GO
/****** Object:  Database [HeThongBanCayCanh]    Script Date: 3/9/2026 9:18:33 PM ******/
CREATE DATABASE [HeThongBanCayCanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeThongBanCayCanh', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HeThongBanCayCanh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeThongBanCayCanh_log', FILENAME = N'D:\Sql Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HeThongBanCayCanh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeThongBanCayCanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeThongBanCayCanh]
GO
/****** Object:  Table [dbo].[AHP_ThongSoTieuChi]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHP_ThongSoTieuChi](
	[MaThongSo] [varchar](50) NOT NULL,
	[GiaTri] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[BinhLuanID] [int] IDENTITY(1,1) NOT NULL,
	[CayCanhID] [int] NOT NULL,
	[TaiKhoanID] [int] NOT NULL,
	[NoiDung] [nvarchar](1000) NULL,
	[SoSao] [int] NULL,
	[NgayBinhLuan] [datetime] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DonHangID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BinhLuanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CachChamSoc]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CachChamSoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CayCanhID] [int] NULL,
	[TieuDe] [nvarchar](200) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CayCanh]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CayCanh](
	[CayCanhID] [int] IDENTITY(1,1) NOT NULL,
	[TenCay] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[LoaiCayID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CayCanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CayCanh_DacDiem]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CayCanh_DacDiem](
	[CayCanhID] [int] NOT NULL,
	[MaDacDiem] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CayCanhID] ASC,
	[MaDacDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ChucVuID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChucVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DonHang]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DonHang](
	[CTDonHangID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NULL,
	[CayCanhID] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CTDonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DacDiem]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DacDiem](
	[MaDacDiem] [varchar](20) NOT NULL,
	[TenDacDiem] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDacDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DacDiemNoiBat]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DacDiemNoiBat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CayCanhID] [int] NULL,
	[NoiDung] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayDuyet] [datetime] NULL,
	[NguoiDuyet] [int] NULL,
	[NgayHuy] [datetime] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SDTNguoiNhan] [nvarchar](20) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[NgayGiaoHang] [datetime] NULL,
	[NgayHoanThanh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[GioHangID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GioHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[GHCTID] [int] IDENTITY(1,1) NOT NULL,
	[GioHangID] [int] NOT NULL,
	[CayCanhID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GHCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCay]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCay](
	[LoaiCayID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiCayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaTranPhuongAn]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaTranPhuongAn](
	[MaTieuChi] [varchar](10) NOT NULL,
	[CayDongID] [int] NOT NULL,
	[CayCotID] [int] NOT NULL,
	[GiaTriPhuongAn] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTieuChi] ASC,
	[CayDongID] ASC,
	[CayCotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaTranSoSanh]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaTranSoSanh](
	[TieuChiDong] [varchar](10) NOT NULL,
	[TieuChiCot] [varchar](10) NOT NULL,
	[GiaTriTieuChi] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TieuChiDong] ASC,
	[TieuChiCot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoTaChiTiet]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoTaChiTiet](
	[CayCanhID] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CayCanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVuID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[VaiTroID] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhoaHoc]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhoaHoc](
	[CayCanhID] [int] NOT NULL,
	[TenKhoaHoc] [nvarchar](200) NULL,
	[HoThucVat] [nvarchar](200) NULL,
	[NguonGoc] [nvarchar](300) NULL,
	[TenGoiKhac] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[CayCanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TieuChi]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TieuChi](
	[MaTieuChi] [varchar](10) NOT NULL,
	[TenTieuChi] [nvarchar](200) NOT NULL,
	[TrongSoTieuChi] [float] NOT NULL,
	[CR_PhuongAn] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[TonKhoID] [int] IDENTITY(1,1) NOT NULL,
	[CayCanhID] [int] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TonKhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrongSoPhuongAn]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrongSoPhuongAn](
	[CayCanhID] [int] NOT NULL,
	[MaTieuChi] [varchar](10) NOT NULL,
	[TrongSoPhuongAn] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CayCanhID] ASC,
	[MaTieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 3/9/2026 9:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[VaiTroID] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaiTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AHP_ThongSoTieuChi] ([MaThongSo], [GiaTri]) VALUES (N'CR_TieuChi_TongThe', 0.04387617228057044)
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([BinhLuanID], [CayCanhID], [TaiKhoanID], [NoiDung], [SoSao], [NgayBinhLuan], [HinhAnh], [DonHangID]) VALUES (11, 4, 2, N'săner phẩm ok', 5, CAST(N'2025-12-15T19:56:36.257' AS DateTime), NULL, 17)
INSERT [dbo].[BinhLuan] ([BinhLuanID], [CayCanhID], [TaiKhoanID], [NoiDung], [SoSao], [NgayBinhLuan], [HinhAnh], [DonHangID]) VALUES (12, 4, 2, NULL, 5, CAST(N'2025-12-15T20:04:25.253' AS DateTime), NULL, 17)
INSERT [dbo].[BinhLuan] ([BinhLuanID], [CayCanhID], [TaiKhoanID], [NoiDung], [SoSao], [NgayBinhLuan], [HinhAnh], [DonHangID]) VALUES (13, 2, 2, NULL, 5, CAST(N'2025-12-15T21:52:00.277' AS DateTime), NULL, 17)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[CachChamSoc] ON 

INSERT [dbo].[CachChamSoc] ([ID], [CayCanhID], [TieuDe], [NoiDung]) VALUES (1, 1, N'Ánh sáng', N'Ưa ánh sáng nhẹ, tránh nắng gắt trực tiếp.')
INSERT [dbo].[CachChamSoc] ([ID], [CayCanhID], [TieuDe], [NoiDung]) VALUES (2, 1, N'Tưới nước', N'Tưới 1–2 lần/tuần khi đất khô hoàn toàn.')
INSERT [dbo].[CachChamSoc] ([ID], [CayCanhID], [TieuDe], [NoiDung]) VALUES (3, 1, N'Đất trồng', N'Đất tơi xốp, thoát nước tốt (tro trấu + perlite).')
SET IDENTITY_INSERT [dbo].[CachChamSoc] OFF
GO
SET IDENTITY_INSERT [dbo].[CayCanh] ON 

INSERT [dbo].[CayCanh] ([CayCanhID], [TenCay], [Gia], [MoTa], [HinhAnh], [LoaiCayID]) VALUES (1, N'Sen đá kim cương', CAST(45000.00 AS Decimal(18, 2)), NULL, N'6a424f4c-a772-4293-91ac-c4d4698ca9ed.jpg', 1)
INSERT [dbo].[CayCanh] ([CayCanhID], [TenCay], [Gia], [MoTa], [HinhAnh], [LoaiCayID]) VALUES (2, N'Lưỡi hổ', CAST(120000.00 AS Decimal(18, 2)), NULL, N'dd69aac3-2b79-4153-b603-b65cbf716374.jpg', 2)
INSERT [dbo].[CayCanh] ([CayCanhID], [TenCay], [Gia], [MoTa], [HinhAnh], [LoaiCayID]) VALUES (4, N'Hoa Lan Tím', CAST(23000.00 AS Decimal(18, 2)), NULL, N'ef26b69a-b01d-4128-ba13-ebd49186788c.jpg', 2)
SET IDENTITY_INSERT [dbo].[CayCanh] OFF
GO
INSERT [dbo].[CayCanh_DacDiem] ([CayCanhID], [MaDacDiem]) VALUES (1, N'DE_CHAM')
INSERT [dbo].[CayCanh_DacDiem] ([CayCanhID], [MaDacDiem]) VALUES (1, N'IT_MUI')
INSERT [dbo].[CayCanh_DacDiem] ([CayCanhID], [MaDacDiem]) VALUES (1, N'IT_SAU')
GO
SET IDENTITY_INSERT [dbo].[CT_DonHang] ON 

INSERT [dbo].[CT_DonHang] ([CTDonHangID], [DonHangID], [CayCanhID], [SoLuong], [DonGia], [ThanhTien]) VALUES (3, 2, 1, 2, CAST(45000.00 AS Decimal(18, 2)), CAST(90000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_DonHang] ([CTDonHangID], [DonHangID], [CayCanhID], [SoLuong], [DonGia], [ThanhTien]) VALUES (4, 3, 5, 2, CAST(123000.00 AS Decimal(18, 2)), CAST(246000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_DonHang] ([CTDonHangID], [DonHangID], [CayCanhID], [SoLuong], [DonGia], [ThanhTien]) VALUES (5, 12, 2, 1, CAST(120000.00 AS Decimal(18, 2)), CAST(120000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CT_DonHang] OFF
GO
INSERT [dbo].[DacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'DE_CHAM', N'Dễ chăm sóc')
INSERT [dbo].[DacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'HOA', N'Có hoa')
INSERT [dbo].[DacDiem] ([MaDacDiem], [TenDacDiem]) VALUES (N'IT_MUI', N'Ít mùi')
GO
SET IDENTITY_INSERT [dbo].[DacDiemNoiBat] ON 

INSERT [dbo].[DacDiemNoiBat] ([ID], [CayCanhID], [NoiDung]) VALUES (1, 1, N'Lá mọng nước hình hoa thị, màu xanh ngọc trong đặc trưng')
INSERT [dbo].[DacDiemNoiBat] ([ID], [CayCanhID], [NoiDung]) VALUES (2, 1, N'Chịu hạn tốt, sống khỏe trong môi trường khô nóng')
INSERT [dbo].[DacDiemNoiBat] ([ID], [CayCanhID], [NoiDung]) VALUES (3, 1, N'Ít cần chăm sóc, phù hợp người bận rộn')
SET IDENTITY_INSERT [dbo].[DacDiemNoiBat] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([DonHangID], [KhachHangID], [NgayDat], [TongTien], [TrangThai], [NgayDuyet], [NguoiDuyet], [NgayHuy], [TenNguoiNhan], [SDTNguoiNhan], [DiaChiGiaoHang], [GhiChu], [PhuongThucThanhToan], [NgayGiaoHang], [NgayHoanThanh]) VALUES (2, 2, CAST(N'2025-11-27T13:26:50.970' AS DateTime), CAST(90000.00 AS Decimal(18, 2)), N'Đã nhận hàng', NULL, NULL, NULL, N'Quyên', N'0094436823', N'124 Cau Trương, Hảo Đước, Chau tHành, Tay Ninh', NULL, N'COD', CAST(N'2025-11-28T14:35:40.873' AS DateTime), CAST(N'2025-11-28T14:40:55.273' AS DateTime))
INSERT [dbo].[DonHang] ([DonHangID], [KhachHangID], [NgayDat], [TongTien], [TrangThai], [NgayDuyet], [NguoiDuyet], [NgayHuy], [TenNguoiNhan], [SDTNguoiNhan], [DiaChiGiaoHang], [GhiChu], [PhuongThucThanhToan], [NgayGiaoHang], [NgayHoanThanh]) VALUES (12, 5, CAST(N'2025-11-28T12:27:36.347' AS DateTime), CAST(366000.00 AS Decimal(18, 2)), N'Đã nhận hàng', NULL, NULL, NULL, N'Quyên', N'0094436823', N'124 Cau Trương, Hảo Đước, Chau tHành, Tay Ninh', NULL, N'COD', NULL, CAST(N'2025-11-28T14:36:58.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([GioHangID], [TaiKhoanID], [NgayCapNhat]) VALUES (6, 2, CAST(N'2025-12-18T12:07:50.007' AS DateTime))
INSERT [dbo].[GioHang] ([GioHangID], [TaiKhoanID], [NgayCapNhat]) VALUES (7, 2, CAST(N'2025-11-26T02:58:01.817' AS DateTime))
INSERT [dbo].[GioHang] ([GioHangID], [TaiKhoanID], [NgayCapNhat]) VALUES (8, 6, CAST(N'2025-11-29T14:12:47.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] ON 

INSERT [dbo].[GioHangChiTiet] ([GHCTID], [GioHangID], [CayCanhID], [SoLuong], [DonGia]) VALUES (25, 7, 2, 1, CAST(120000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [TaiKhoanID], [HoTen], [GioiTinh], [NgaySinh], [DiaChi]) VALUES (1, 2, N'Nguyễn Văn A', N'Nam', CAST(N'1999-06-15' AS Date), N'123 Lê Lợi, Q1, TP.HCM')
INSERT [dbo].[KhachHang] ([KhachHangID], [TaiKhoanID], [HoTen], [GioiTinh], [NgaySinh], [DiaChi]) VALUES (2, 3, N'Trần Mỹ Quyên', N'Nữ', CAST(N'2005-07-10' AS Date), N'236 Le Van Sy')
INSERT [dbo].[KhachHang] ([KhachHangID], [TaiKhoanID], [HoTen], [GioiTinh], [NgaySinh], [DiaChi]) VALUES (4, 5, N'na', N'Nữ', CAST(N'2002-01-02' AS Date), N'124 cau trương')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiCay] ON 

INSERT [dbo].[LoaiCay] ([LoaiCayID], [TenLoai], [MoTa]) VALUES (1, N'Cây để bàn', NULL)
INSERT [dbo].[LoaiCay] ([LoaiCayID], [TenLoai], [MoTa]) VALUES (2, N'Cây phong thủy', NULL)
SET IDENTITY_INSERT [dbo].[LoaiCay] OFF
GO
INSERT [dbo].[MaTranPhuongAn] ([MaTieuChi], [CayDongID], [CayCotID], [GiaTriPhuongAn]) VALUES (N'C1', 1, 1, 1)
INSERT [dbo].[MaTranPhuongAn] ([MaTieuChi], [CayDongID], [CayCotID], [GiaTriPhuongAn]) VALUES (N'C1', 1, 2, 0.2)
INSERT [dbo].[MaTranPhuongAn] ([MaTieuChi], [CayDongID], [CayCotID], [GiaTriPhuongAn]) VALUES (N'C1', 1, 4, 3)
GO
INSERT [dbo].[MaTranSoSanh] ([TieuChiDong], [TieuChiCot], [GiaTriTieuChi]) VALUES (N'C1', N'C1', 1)
INSERT [dbo].[MaTranSoSanh] ([TieuChiDong], [TieuChiCot], [GiaTriTieuChi]) VALUES (N'C1', N'C2', 0.333333333333)
INSERT [dbo].[MaTranSoSanh] ([TieuChiDong], [TieuChiCot], [GiaTriTieuChi]) VALUES (N'C1', N'C3', 3)
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [TenDangNhap], [MatKhau], [Email], [DienThoai], [VaiTroID], [TrangThai], [NgayTao]) VALUES (1, N'admin', N'$2a$11$/JCOIv.T4SpbsMqoHgmYSeptLVst5oxJQvktHt6tRcpTnkNd.MapW', N'tranmyquyen1012@gmail.com', NULL, 1, N'Hoạt động', CAST(N'2025-11-11T21:50:59.280' AS DateTime))
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [TenDangNhap], [MatKhau], [Email], [DienThoai], [VaiTroID], [TrangThai], [NgayTao]) VALUES (2, N'vana', N'$2a$11$F.ZX.UTw0yTVPiTEZTLTC.Dcxv8rrzF9C7ONUFtkxu9msqpscLRtu', N'tranmyquyen1212@gmail.com', N'0772300910', 2, N'Hoạt động', CAST(N'2025-11-11T21:50:59.280' AS DateTime))
INSERT [dbo].[TaiKhoan] ([TaiKhoanID], [TenDangNhap], [MatKhau], [Email], [DienThoai], [VaiTroID], [TrangThai], [NgayTao]) VALUES (3, N'Queen', N'123', N'Queen@gmail .com', N'023446723', 1, N'Hoạt động', CAST(N'2025-11-12T13:38:10.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[ThongTinKhoaHoc] ([CayCanhID], [TenKhoaHoc], [HoThucVat], [NguonGoc], [TenGoiKhac]) VALUES (1, N'Haworthia cooperi', N'Asphodelaceae', N'Nam Phi', N'Sen đá pha lê')
INSERT [dbo].[ThongTinKhoaHoc] ([CayCanhID], [TenKhoaHoc], [HoThucVat], [NguonGoc], [TenGoiKhac]) VALUES (2, N'Sansevieria trifasciata', N'Asparagaceae', N'Tây Phi', N'Cây Lưỡi Hổ, Cây Hổ Vĩ, Snake Plant')
INSERT [dbo].[ThongTinKhoaHoc] ([CayCanhID], [TenKhoaHoc], [HoThucVat], [NguonGoc], [TenGoiKhac]) VALUES (4, N'Phalaenopsis sp.', N'Orchidaceae', N'Đông Nam Á – từ Indonesia đến Philippines', N'Lan Hồ Điệp tím, Tím Phalaenopsis')
GO
INSERT [dbo].[TieuChi] ([MaTieuChi], [TenTieuChi], [TrongSoTieuChi], [CR_PhuongAn]) VALUES (N'C1', N'Khả năng thích nghi với nhiệt độ trong nhà', 0.263345110771505, 0.012885427562284705)
INSERT [dbo].[TieuChi] ([MaTieuChi], [TenTieuChi], [TrongSoTieuChi], [CR_PhuongAn]) VALUES (N'C2', N'Khả năng thích nghi ánh sáng yếu', 0.55789247517197249, 0.020401767228797066)
INSERT [dbo].[TieuChi] ([MaTieuChi], [TenTieuChi], [TrongSoTieuChi], [CR_PhuongAn]) VALUES (N'C3', N'Khả năng thích nghi độ ẩm thấp', 0.12187261268142999, 0.019884651935256153)
GO
SET IDENTITY_INSERT [dbo].[TonKho] ON 

INSERT [dbo].[TonKho] ([TonKhoID], [CayCanhID], [SoLuongTon], [NgayCapNhat]) VALUES (1, 10, 23, CAST(N'2025-12-09T13:43:39.210' AS DateTime))
INSERT [dbo].[TonKho] ([TonKhoID], [CayCanhID], [SoLuongTon], [NgayCapNhat]) VALUES (2, 5, 1000, CAST(N'2025-11-28T21:31:16.053' AS DateTime))
INSERT [dbo].[TonKho] ([TonKhoID], [CayCanhID], [SoLuongTon], [NgayCapNhat]) VALUES (3, 4, 12000, CAST(N'2025-11-28T21:31:25.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[TonKho] OFF
GO
INSERT [dbo].[TrongSoPhuongAn] ([CayCanhID], [MaTieuChi], [TrongSoPhuongAn]) VALUES (1, N'C1', 0.16798775696424678)
INSERT [dbo].[TrongSoPhuongAn] ([CayCanhID], [MaTieuChi], [TrongSoPhuongAn]) VALUES (1, N'C2', 0.021671900608613182)
INSERT [dbo].[TrongSoPhuongAn] ([CayCanhID], [MaTieuChi], [TrongSoPhuongAn]) VALUES (1, N'C3', 0.240619879996131)
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([VaiTroID], [TenVaiTro], [MoTa]) VALUES (1, N'QuanTri', NULL)
INSERT [dbo].[VaiTro] ([VaiTroID], [TenVaiTro], [MoTa]) VALUES (2, N'KhachHang', NULL)
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [UQ__NhanVien__9A124B642A63D40E]    Script Date: 3/9/2026 9:18:34 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0750BC49B]    Script Date: 3/9/2026 9:18:34 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AHP_ThongSoTieuChi] ADD  DEFAULT ((0)) FOR [GiaTri]
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (getdate()) FOR [NgayBinhLuan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TieuChi] ADD  DEFAULT ((0)) FOR [TrongSoTieuChi]
GO
ALTER TABLE [dbo].[TieuChi] ADD  DEFAULT ((0)) FOR [CR_PhuongAn]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[TrongSoPhuongAn] ADD  DEFAULT ((0)) FOR [TrongSoPhuongAn]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_CayCanh] FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_CayCanh]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_DonHang] FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_DonHang]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_TaiKhoan] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_TaiKhoan]
GO
ALTER TABLE [dbo].[CachChamSoc]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[CayCanh]  WITH CHECK ADD FOREIGN KEY([LoaiCayID])
REFERENCES [dbo].[LoaiCay] ([LoaiCayID])
GO
ALTER TABLE [dbo].[CayCanh_DacDiem]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[CayCanh_DacDiem]  WITH CHECK ADD FOREIGN KEY([MaDacDiem])
REFERENCES [dbo].[DacDiem] ([MaDacDiem])
GO
ALTER TABLE [dbo].[CT_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonHang_CayCanh] FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[CT_DonHang] CHECK CONSTRAINT [FK_CT_DonHang_CayCanh]
GO
ALTER TABLE [dbo].[CT_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonHang_DonHang] FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([DonHangID])
GO
ALTER TABLE [dbo].[CT_DonHang] CHECK CONSTRAINT [FK_CT_DonHang_DonHang]
GO
ALTER TABLE [dbo].[DacDiemNoiBat]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NhanVien] FOREIGN KEY([NguoiDuyet])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NhanVien]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD FOREIGN KEY([GioHangID])
REFERENCES [dbo].[GioHang] ([GioHangID])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[MaTranPhuongAn]  WITH CHECK ADD FOREIGN KEY([CayCotID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[MaTranPhuongAn]  WITH CHECK ADD FOREIGN KEY([CayDongID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[MaTranPhuongAn]  WITH CHECK ADD FOREIGN KEY([MaTieuChi])
REFERENCES [dbo].[TieuChi] ([MaTieuChi])
GO
ALTER TABLE [dbo].[MaTranSoSanh]  WITH CHECK ADD FOREIGN KEY([TieuChiDong])
REFERENCES [dbo].[TieuChi] ([MaTieuChi])
GO
ALTER TABLE [dbo].[MaTranSoSanh]  WITH CHECK ADD FOREIGN KEY([TieuChiCot])
REFERENCES [dbo].[TieuChi] ([MaTieuChi])
GO
ALTER TABLE [dbo].[MoTaChiTiet]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([ChucVuID])
REFERENCES [dbo].[ChucVu] ([ChucVuID])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanID])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([VaiTroID])
REFERENCES [dbo].[VaiTro] ([VaiTroID])
GO
ALTER TABLE [dbo].[ThongTinKhoaHoc]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_CayCanh] FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_CayCanh]
GO
ALTER TABLE [dbo].[TrongSoPhuongAn]  WITH CHECK ADD FOREIGN KEY([CayCanhID])
REFERENCES [dbo].[CayCanh] ([CayCanhID])
GO
ALTER TABLE [dbo].[TrongSoPhuongAn]  WITH CHECK ADD FOREIGN KEY([MaTieuChi])
REFERENCES [dbo].[TieuChi] ([MaTieuChi])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([TrangThai]=N'Bị khóa' OR [TrangThai]=N'Hoạt động'))
GO
USE [master]
GO
